#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define S_SSID "ssid"
#define S_SSID_PASSWORD "password"
#define S_MQTT_URL "ip address"
#define S_MQTT_USERNAME "mqtt username"
#define S_MQTT_PASSWORD "mqtt password"
#define S_SUBSCRIBE_TOPIC "subscribe topic"
#define S_PUBLISH_TOPIC "publish topic"

#endif